@using BingImageAPI

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>@ViewData["Title"] - HomePageApp</title>
    
    @{ 
        // Enter statement if the page is requesting a background
        if (ViewData["ShowBackground"] != null &&
            (bool)ViewData["ShowBackground"] == true)
        {
            // Get the data for today's image from Bing
            BingImageClient client = new BingImageClient();
            ImageResponse response = client.GetImageResponse();

            // Get the copyright and store in "ImageCopyright" for page use
            ViewData["ImageCopyright"] =
                response.images[0].copyright;

            // Get the image URL
            string imageUrlPart = response.images[0].url;
            string imageUrl = Constants.BING_URL_BASE + imageUrlPart;

            // Implement a style setting the found url as the background
            <style>
                body 
                { 
                    background-image: url("@imageUrl");
                }
            </style>
            <link rel="stylesheet" href="~/css/background-image.css" />
            <link rel="stylesheet" href="~/css/contrast-design.css" />
        }
    }

    <!--TODO: move these to the correct environment name, get minified versions-->

    <link rel="stylesheet" href="~/css/weather-icons-wind.css" />
    <link rel="stylesheet" href="~/css/weather-icons.css" />

    <!--for jscookie plugin-->
    <script src="~/lib/js-cookie/src/js.cookie.js"></script>

    <link rel="stylesheet" href="~/css/site.css" />
    
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>

    <!-- TODO: Move to a file -->
    <script type="text/javascript">

        function updateClock ( )
        {
            var currentTime = new Date();

            var currentHours = currentTime.getHours();
            var currentMinutes = currentTime.getMinutes();

            // Pad the minutes and seconds with leading zeros, if required
            currentMinutes = (currentMinutes < 10 ? "0" : "") + currentMinutes;

            // Convert the hours component to 12-hour format if needed
            currentHours = ( currentHours > 12 ) ? currentHours - 12 : currentHours;

            // Convert an hours component of "0" to "12"
            currentHours = ( currentHours == 0 ) ? 12 : currentHours;

            // Compose the string for display
            var currentTimeString = currentHours + ":" + currentMinutes;

            // Update the time display
            document.getElementById("clock").firstChild.nodeValue 
                = currentTimeString;
        }

        function updateGreeting (name)
        {
            var currentTime = new Date();
            var greeting = "Good Morning, ";
            var currentHours = currentTime.getHours();
            
            // TODO: remove server side logic for this
            if ( currentHours > (@Constants.AFTERNOON_LOWER_BOUND) ) {
                greeting = "Good Afternoon, ";
            }
            if ( currentHours > (@Constants.EVENING_LOWER_BOUND)) {
                greeting = "Good Evening, ";
            }
            
            greeting += name;

            document.getElementById("welcome").firstChild.nodeValue 
                = greeting;
        }
      
    </script>

    @RenderSection("HeaderItems",false)
</head>
<body @RenderSection("BodyProperties",false)>
    @RenderBody()
    <!--
    <hr />
    <footer>
        <p>&copy; 2016 - HomePage <a asp-area="" asp-controller="Home" asp-action="About">About Us</a></p>
    </footer>
    -->
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
